{% extends "base.html.twig" %}

{# on hérite du template 'base.html.twig' #}
{# tout le contenu du bloc body sera envoyé dans le template 'base.html.twig' #}

{% block body %}

<h1 class="display-4 text-center my-4">Création d'un article</h1>



{% endblock %}