{% extends 'base.html.twig' %}

{# Le template index.html.twig hérite de notre gabari de base 'base.html.twig' (header + footer + liens CSS etc ...) #}

{# Le bloc 'title' apparait dans l'onglet du navigateur #}
{% block title %}Page Blog-Demo | Liste des articles {% endblock %}

{# le bloc body fait référence au bloque déclaré dans le fichier base.html.twig #}
{# le contenu du 'body' est envoyé automatiquement dans le bloc body du fichier base.html.twig #}
{% block body %}

    <h1 class='display-4 text-center my-4'>Liste des articles</h1>

    <div class="row  d-flex justify-content-center ">
        <div class="col-md-4 border border-dark rounded mr-1 mb-1">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4 border border-dark rounded mr-1 mb-1">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4 border border-dark rounded mr-1 mb-1">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4 border border-dark rounded mr-1 mb-1">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>
{% endblock %}
